.option-button {
    line-height: 18px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(229, 238, 255);
    color: rgb(0, 52, 153);
    

    &:hover {
      background-color: theme("colors.primary.DEFAULT");
      color: white;
    }
}